/* Button used to open the chat form - fixed at the bottom of the page */
.hccw-open-button {
  border: none;
  cursor: pointer;
  opacity: 1; /* 0.8; */
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 90px;
  width: 90px;
}

/* The popup chat - hidden by default */
.hccw-chat-popup {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 130px;
  border: 1px solid #cccccc;
  z-index: 9;
  height: 400px;
  width: 310px;
}


.hccw-send-btn {
  background-image:url('/resources/holychatter-chat-window/images/send.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
}


.hccw-chat-heart-bg {
  background-image: url('/resources/holychatter-chat-window/images/heart.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



