@media screen and (min-width: 1951px) {
.hc-chapters-left-margin { margin-left: 46px; }
}

@media screen and (min-width: 1926px)  and (max-width: 1950px) {
.hc-chapters-left-margin { margin-left: 33px; }
}

@media screen and (min-width: 1901px)  and (max-width: 1925px) {
.hc-chapters-left-margin { margin-left: 21px; }
}

@media screen and (min-width: 1876px)  and (max-width: 1900px) {
.hc-chapters-left-margin { margin-left: 55px; }
}

@media screen and (min-width: 1851px)  and (max-width: 1875px) {
.hc-chapters-left-margin { margin-left: 42px; }
}

@media screen and (min-width: 1826px)  and (max-width: 1850px) {
.hc-chapters-left-margin { margin-left: 30px; }
}

@media screen and (min-width: 1801px)  and (max-width: 1825px) {
.hc-chapters-left-margin { margin-left: 17px; }
}

@media screen and (min-width: 1776px)  and (max-width: 1800px) {
.hc-chapters-left-margin { margin-left: 51px; }
}

@media screen and (min-width: 1751px)  and (max-width: 1775px) {
.hc-chapters-left-margin { margin-left: 39px; }
}

@media screen and (min-width: 1726px)  and (max-width: 1750px) {
.hc-chapters-left-margin { margin-left: 26px; }
}

@media screen and (min-width: 1701px)  and (max-width: 1725px) {
.hc-chapters-left-margin { margin-left: 60px; }
}

@media screen and (min-width: 1676px)  and (max-width: 1700px) {
.hc-chapters-left-margin { margin-left: 48px; }
}

@media screen and (min-width: 1651px)  and (max-width: 1675px) {
.hc-chapters-left-margin { margin-left: 35px; }
}

@media screen and (min-width: 1626px)  and (max-width: 1650px) {
.hc-chapters-left-margin { margin-left: 23px; }
}

@media screen and (min-width: 1601px)  and (max-width: 1625px) {
.hc-chapters-left-margin { margin-left: 57px; }
}

@media screen and (min-width: 1576px)  and (max-width: 1600px) {
.hc-chapters-left-margin { margin-left: 44px; }
}

@media screen and (min-width: 1551px)  and (max-width: 1575px) {
.hc-chapters-left-margin { margin-left: 32px; }
}

@media screen and (min-width: 1526px)  and (max-width: 1550px) {
.hc-chapters-left-margin { margin-left: 19px; }
}

@media screen and (min-width: 1501px)  and (max-width: 1525px) {
.hc-chapters-left-margin { margin-left: 53px; }
}

@media screen and (min-width: 1476px)  and (max-width: 1500px) {
.hc-chapters-left-margin { margin-left: 41px; }
}

@media screen and (min-width: 1451px)  and (max-width: 1475px) {
.hc-chapters-left-margin { margin-left: 28px; }
}

@media screen and (min-width: 1426px)  and (max-width: 1450px) {
.hc-chapters-left-margin { margin-left: 16px; }
}

@media screen and (min-width: 1401px)  and (max-width: 1425px) {
.hc-chapters-left-margin { margin-left: 50px; }
}

@media screen and (min-width: 1376px)  and (max-width: 1400px) {
.hc-chapters-left-margin { margin-left: 37px; }
}

@media screen and (min-width: 1351px)  and (max-width: 1375px) {
.hc-chapters-left-margin { margin-left: 25px; }
}

@media screen and (min-width: 1326px)  and (max-width: 1350px) {
.hc-chapters-left-margin { margin-left: 59px; }
}

@media screen and (min-width: 1301px)  and (max-width: 1325px) {
.hc-chapters-left-margin { margin-left: 46px; }
}

@media screen and (min-width: 1276px)  and (max-width: 1300px) {
.hc-chapters-left-margin { margin-left: 34px; }
}

@media screen and (min-width: 1251px)  and (max-width: 1275px) {
.hc-chapters-left-margin { margin-left: 21px; }
}

@media screen and (min-width: 1226px)  and (max-width: 1250px) {
.hc-chapters-left-margin { margin-left: 55px; }
}

@media screen and (min-width: 1201px)  and (max-width: 1225px) {
.hc-chapters-left-margin { margin-left: 43px; }
}

@media screen and (min-width: 1176px)  and (max-width: 1200px) {
.hc-chapters-left-margin { margin-left: 30px; }
}

@media screen and (min-width: 1151px)  and (max-width: 1175px) {
.hc-chapters-left-margin { margin-left: 18px; }
}

@media screen and (min-width: 1126px)  and (max-width: 1150px) {
.hc-chapters-left-margin { margin-left: 52px; }
}

@media screen and (min-width: 1101px)  and (max-width: 1125px) {
.hc-chapters-left-margin { margin-left: 39px; }
}

@media screen and (min-width: 1076px)  and (max-width: 1100px) {
.hc-chapters-left-margin { margin-left: 27px; }
}

@media screen and (min-width: 1051px)  and (max-width: 1075px) {
.hc-chapters-left-margin { margin-left: 61px; }
}

@media screen and (min-width: 1026px)  and (max-width: 1050px) {
.hc-chapters-left-margin { margin-left: 48px; }
}

@media screen and (min-width: 1001px)  and (max-width: 1025px) {
.hc-chapters-left-margin { margin-left: 36px; }
}

@media screen and (min-width: 976px)  and (max-width: 1000px) {
.hc-chapters-left-margin { margin-left: 23px; }
}

@media screen and (min-width: 951px)  and (max-width: 975px) {
.hc-chapters-left-margin { margin-left: 57px; }
}

@media screen and (min-width: 926px)  and (max-width: 950px) {
.hc-chapters-left-margin { margin-left: 45px; }
}

@media screen and (min-width: 901px)  and (max-width: 925px) {
.hc-chapters-left-margin { margin-left: 32px; }
}

@media screen and (min-width: 876px)  and (max-width: 900px) {
.hc-chapters-left-margin { margin-left: 20px; }
}

@media screen and (min-width: 851px)  and (max-width: 875px) {
.hc-chapters-left-margin { margin-left: 54px; }
}

@media screen and (min-width: 826px)  and (max-width: 850px) {
.hc-chapters-left-margin { margin-left: 41px; }
}

@media screen and (min-width: 801px)  and (max-width: 825px) {
.hc-chapters-left-margin { margin-left: 29px; }
}

@media screen and (min-width: 776px)  and (max-width: 800px) {
.hc-chapters-left-margin { margin-left: 16px; }
}

@media screen and (min-width: 751px)  and (max-width: 775px) {
.hc-chapters-left-margin { margin-left: 50px; }
}

@media screen and (min-width: 726px)  and (max-width: 750px) {
.hc-chapters-left-margin { margin-left: 38px; }
}

@media screen and (min-width: 701px)  and (max-width: 725px) {
.hc-chapters-left-margin { margin-left: 25px; }
}

@media screen and (min-width: 676px)  and (max-width: 700px) {
.hc-chapters-left-margin { margin-left: 59px; }
}

@media screen and (min-width: 651px)  and (max-width: 675px) {
.hc-chapters-left-margin { margin-left: 47px; }
}

@media screen and (min-width: 626px)  and (max-width: 650px) {
.hc-chapters-left-margin { margin-left: 34px; }
}

@media screen and (min-width: 601px)  and (max-width: 625px) {
.hc-chapters-left-margin { margin-left: 22px; }
}

@media screen and (min-width: 576px)  and (max-width: 600px) {
.hc-chapters-left-margin { margin-left: 56px; }
}

@media screen and (min-width: 551px)  and (max-width: 575px) {
.hc-chapters-left-margin { margin-left: 43px; }
}

@media screen and (min-width: 526px)  and (max-width: 550px) {
.hc-chapters-left-margin { margin-left: 31px; }
}

@media screen and (min-width: 501px)  and (max-width: 525px) {
.hc-chapters-left-margin { margin-left: 18px; }
}

@media screen and (min-width: 476px)  and (max-width: 500px) {
.hc-chapters-left-margin { margin-left: 52px; }
}

@media screen and (min-width: 451px)  and (max-width: 475px) {
.hc-chapters-left-margin { margin-left: 40px; }
}

@media screen and (min-width: 426px)  and (max-width: 450px) {
.hc-chapters-left-margin { margin-left: 27px; }
}

@media screen and (min-width: 401px)  and (max-width: 425px) {
.hc-chapters-left-margin { margin-left: 61px; }
}

@media screen and (min-width: 376px)  and (max-width: 400px) {
.hc-chapters-left-margin { margin-left: 49px; }
}

@media screen and (min-width: 351px)  and (max-width: 375px) {
.hc-chapters-left-margin { margin-left: 36px; }
}

@media screen and (min-width: 326px)  and (max-width: 350px) {
.hc-chapters-left-margin { margin-left: 24px; }
}

@media only screen and (max-width: 325px) {
.hc-chapters-left-margin { margin-left: 58px; }
}

.hc-big-button-chapter-height { height:75px; }
.hc-big-button-chapter-width { width:63px; }
