:root {
  --hc-var-right-space: 20px;
  --hc-title-height: 55px;
  --hc-folder-menu-width: 240px;
  --hc-chat-title-height: 65px;

  --hc-chat-border-space: 0%;
  --hc-chat-left-space: 30%;
  --hc-chat-right-space: 70%;
  --hc-chat-unique-container-border-space: 15%;

  --hc-chat-bottom-height: 68px;
}

@media screen and (max-width: 900px) {
:root {
  --hc-folder-menu-width: 0px;
  --hc-chat-left-space: 0%;
  --hc-chat-right-space: 100%;
  --hc-chat-unique-container-border-space: 1%;
}
.hc-long-screen {
    display: none;
  }
}
@media screen and (min-width: 901px) {
.hc-short-screen {
    display: none;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}


h1 {
  font-family: Droid Serif;
  font-weight: bold;
  text-align: center;
  color: red;
  font-size: var(--hc-h1-font-size);
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
}

.breadcrumb {
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  list-style: none;
  border-radius: 4px;
  max-height: 100%;
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.breadcrumb > li {
  display: inline-block;
}

.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: ">";
}

.breadcrumb > .active {
  color: #999;
}

.hc-header {
  position: fixed;
  top: 0;
  height: 65px;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  box-sizing: border-box;
}

.hc-h2-header {
  margin-top: 30px;
  height: 30px;
}

.hc-h3-header {
  height: 27px;
}


.hc-chat-left-container {
  position: absolute;
  top: var(--hc-chat-title-height);
  bottom: var(--hc-chat-bottom-height);
  left: var(--hc-chat-border-space);
  width: var(--hc-chat-left-space);
  overflow: none;
}

.hc-chat-right-container {
  position: absolute;
  top: var(--hc-chat-title-height);
  bottom: var(--hc-chat-bottom-height);
  right: 0px;
  width: var(--hc-chat-right-space);
  overflow: none;
}

.hc-chat-unique-container {
  position: absolute;
  top: var(--hc-chat-title-height);
  bottom: var(--hc-chat-bottom-height);
  margin-left: var(--hc-chat-unique-container-border-space);
  margin-right: var(--hc-chat-unique-container-border-space);
  right: 0px;
  left: 0px;
  overflow: none;
}

.hc-right-footer {
  position: fixed;
  right: 0px;
  width: var(--hc-chat-right-space);
  bottom: 0px;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 15px;
  padding-bottom: 15px;
  top: auto;
  height: var(--hc-chat-bottom-height);
}

.hc-centered-footer {
  position: fixed;
  right: 0px;
  width: 100%;
  bottom: 0px;
  padding-left: var(--hc-chat-unique-container-border-space);
  padding-right: var(--hc-chat-unique-container-border-space);
  padding-top: 15px;
  padding-bottom: 15px;
  top: auto;
  height: var(--hc-chat-bottom-height);
}


.hc-chat-content {
  overflow: auto;
  position: absolute;
  bottom: 0;
  max-height: 100%;
  width: 100%;
}

.hc-content-content-wrapper {
  position: absolute;
  top: 65px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  overflow-y:auto;
  box-sizing: border-box;
}

.hc-content-content-folders {
  float: left;
  border-right: 1px solid #cccccc;
  bottom: 0px;
  width: var(--hc-folder-menu-width);
  height: 100%;
  max-height: 100%;
  overflow-y:auto;
  box-sizing: border-box;
}

.hc-content-content {
  border-left: 1px solid #cccccc;
  bottom: 0px;
  max-height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-aligned {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.hc-content-breadcrumb-container {
  position: fixed;
  height: var(--hc-breadcrumb-height);
  left: var(--hc-folder-menu-width);
  right: 0px;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
}

.hc-content-breadcrumb-container-mobile {
  position: fixed;
  height: var(--hc-breadcrumb-height);
  left: 0px;
  right: 0px;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid #cccccc;
}

.hc-content-content-sub-breadcrumb {
  position: absolute;
  top: var(--hc-breadcrumb-height);
  left: var(--hc-folder-menu-width);
  bottom: 0px;
  right: 0px;
  border-left: 1px solid #cccccc;
  max-height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-content-content-sub-breadcrumb-mobile {
  position: absolute;
  top: var(--hc-breadcrumb-height);
  left: 0px;
  bottom: 0px;
  right: 0px;
  max-height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}


.hc-content-title-container {
  position: fixed;
  height: var(--hc-title-height);
  left: var(--hc-folder-menu-width);
  right: 0px;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
}

.hc-content-title-container-mobile {
  position: fixed;
  height: var(--hc-title-height);
  left: 0px;
  right: 0px;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid #cccccc;
}

.hc-content-content-sub-title {
  position: absolute;
  top: var(--hc-title-height);
  left: var(--hc-folder-menu-width);
  bottom: 0px;
  right: 0px;
  border-left: 1px solid #cccccc;
  max-height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-content-content-sub-title-mobile {
  position: absolute;
  top: var(--hc-title-height);
  left: 0px;
  bottom: 0px;
  right: 0px;
  max-height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-viewer-content {
  position: absolute;
  top: 65px;
  bottom: 0px;
  width: 100%;
  overflow-y:auto;
  padding: 20px;
  box-sizing: border-box;
}


.hc-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hc-onTopRight
{
  position: fixed;
  z-index: 3;
  top: 15px;
  right: var(--hc-var-right-space);
}

.hc-onTopRight-from-header
{
  margin-top: 15px;
  margin-right: var(--hc-var-right-space);
}

.hc-onTopRight-from-h2-header
{
  margin-right: var(--hc-var-right-space);
}

.hc-onTopRight-from-h3-header
{
  margin-right: var(--hc-var-right-space);
}

.hc-onTopRight-mobile
{
  position: absolute;
  z-index:1;
  top: 15px;
  right: 15px;
}

.hc-bold {
  font-weight: bold;
}

.hc-white-font {
  color: #ffffff;
}

.hc-writing-box {
  background-image:url(/resources/holychatter/images/writing.gif);
  background-position: top 0px left 0px;
  background-size: 60px 43px;
  background-repeat: no-repeat;
}

.hc-logo-marie-jesus-box {
  background-image:url(/resources/holychatter/images/bot_withtriangle.png);
  background-position: left 20px bottom 0px;
  background-size: 80px 50px;
  background-repeat: no-repeat;
}

.hc-logo-human-box {
  background-image:url(/resources/holychatter/images/user_withtriangle.png);
  background-position: right 20px bottom 0px;
  background-size: 80px 50px;
  background-repeat: no-repeat;
}

.hc-logo-user-triangle-box {
  background-image:url(/resources/holychatter/images/user_withouttriangle.png);
  background-position: right 0px bottom 0px;
  background-size: 24px 50px;
  background-repeat: no-repeat;
}

.hc-logo-hc-triangle-box {
  background-image:url(/resources/holychatter/images/bot_withouttriangle.png);
  background-position: left 0px bottom 0px;
  background-size: 24px 50px;
  background-repeat: no-repeat;
}

.hc-bubble {
  border-radius: 10px;
}

.hc-cursor-pointer {
  cursor: pointer;
}

.hc-cursor-default {
  cursor: default;
}

.hc-clickable {
  color: #53b6f0;
  cursor: pointer;
}

.hc-clickable:hover {
  color: #2a6496;
  text-decoration: underline;
}

.hc-subtext {
  font-size: 14px;
}

.hc-answer-text {
  font-size: 15px;
}

.hc-tests-img-bkg {
  background-image: url("/resources/holychatter/icons/check_button.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 12px;
}

.hc-settings-img-bkg {
  background-image: url("/resources/holychatter/icons/edit_button.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 12px;
}

.hc-trash-img-bkg {
  background-image: url("/resources/holychatter/icons/trash_button.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 12px;
}

.hc-move-img-bkg {
  background-image: url("/resources/holychatter/icons/move_button.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 12px;
}

.hc-search-btn {
  background-image:url('/resources/holychatter/images/search.png');
  background-size: 28px 19px;
  background-repeat: no-repeat;
  background-position: center center;
}

.hc-send-btn {
  background-image:url('/resources/holychatter/images/send.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

.hc-padding {
  padding: 20px;
}
